.app{
    width: 400px;
    height: 600px;
    border: 6px solid rgb(47, 57, 195); 
    border-radius: 8px;
    padding: 15px;
}

body{
    font-family: sans-serif;
    background-color:whitesmoke;
}

#addNew{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(110, 146, 222);
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.fa-plus {
    background-color: rgb(81, 81, 194);
    padding: 4px;
    border: radius 4px; ;
}

#tasks {
    display: grid;
    gap: 15px;
}


#tasks div{
    background-color: rgb(110, 146, 222);
    border: 3px solid rgb(81, 81, 194);
    padding: 6px;
    border-radius: 7px;
    display: grid;
    gap: 5px;
}